<!DOCTYPE html>
<html>
  <head>
    <title>WootLoginSignin</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">
            <img class='woot-navbar' height="30" alt="Brand" src="http://www.woot.cl/assets/woot-logo-color.svg">
          </a>
        </div>

        <ul class="nav navbar-nav navbar-right">
          <li>
            <div class="buttons">

              <button type="button" class="btn btn-default">  <%= link_to 'Login', new_user_session_path  %> </button>
            </div>
          </li>
        </ul>

      </div>
    </nav>

    <%= yield %>
  </body>
</html>
