

<div class="row">
  <div class="col s12 center"><p><h2>Crea tu cuenta WooT</h2></div>
  <div class="col s12 m4 l2"></div>
  <div class="col s12 m4 l8">
    <div class="card-panel z-depth-3">
      <span class="blue-text text-darken-2 ">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= devise_error_messages! %>
          <div class="input-field">
            <%= f.label :email %>
            <%= f.email_field :email %>
          </div>
          <div class="input-field">
            <%= f.label :Documento_de_Identidad %>
            <%= f.text_field :dni_member %>
          </div>
          <div class="input-field">
            <%= f.label :Nombre %>
            <%= f.text_field :first_name %>
          </div>
          <div class="input-field">
            <%= f.label :Apellido %>
            <%= f.text_field :last_name %>
          </div>

          <div class="input-field">
            <%= f.label :password %>
            <%= f.password_field :password, autocomplete: "off" %>
          </div>

          <div class="input-field">
            <%= f.label :confirmar_password %>
            <%= f.password_field :password_confirmation, autocomplete: "off" %>
          </div>

          <div class="actions center">
            <%= f.submit 'Regístrate', :class => 'waves-effect waves-light btn-large' %>
          </div>
        <% end %>
      </span>
    </div>

    </p></div>
  <div class="col s12 m4 l2"></div>
</div>
